<!DOCTYPE html>
<html>
<body>
<div class="w-full h-full flex flex-col justify-center items-center">
    <iframe class="w-full h-full border rounded"
            th:src="${url}"
            sandbox="allow-scripts allow-same-origin"
            referrerpolicy="no-referrer"
            loading="lazy"
    >
        <span class="loader"></span>
    </iframe>
    <div class="h-10 w-full flex items-center justify-between">
        <div class="py-2 px-4">
            SMART App: <span th:text="${name}"></span>
        </div>
        <div>
            <button
                    class="py-2 px-4 hover:bg-gray-200"
                    hx-get="/epj/partials/launch?app=none"
                    hx-target="#inner-frame"
                    hx-swap="innerHTML"
            >
                Lukk app
            </button>
        </div>
    </div>
</div>
</body>
</html>
