<!DOCTYPE html>
<html>
<body>
<div class="flex flex-col gap-3">
    <h3 class="p-2 font-bold">Patients</h3>
    <form hx-post="/epj/consultation/start"
          hx-target="#patient-section"
          hx-swap="innerHTML"
          class="flex flex-col gap-3">

        <select id="patientSelect"
                name="fnr"
                class="border rounded border-gray-300 p-2"
                required>
            <option value="" disabled selected>Select a patient</option>
            <option th:each="patient : ${patients}"
                    th:value="${patient.fnr}"
                    th:text="${patient.name + ' (' + patient.fnr + ')'}">
            </option>
        </select>

        <button type="submit"
                class="mt-3 p-2 bg-blue-500 text-white rounded hover:bg-blue-600">
            Start consultation
        </button>
    </form>
</div>
</body>
</html>
