<!DOCTYPE html>
<html>
<body>
<div class="w-full h-full flex flex-col">
    <h3 class="p-2 font-bold">Patient</h3>
    <div class="text-xs text-gray-200">Active consultation</div>
    <div th:text="${fnr}"></div>
    <div class="text-xs text-gray-200">Name</div>
    <div th:text="${name}"></div>

    <button
            hx-post="/epj/consultation/end"
            hx-target="#patient-section"
            hx-swap="innerHTML"
            class="mt-3 p-2 bg-red-500 text-white rounded hover:bg-red-600"
    >
        Close consultation
    </button>

</div>
</body>
</html>